/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*^============> Variables <============*/
:root {
  --default-color: #0078ff;
  --text-color: #fff;
  --second-text-color: #cde1f8;
}

/*^============> General <============*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.back-to-top {
  right: 15px;
  bottom: 15px;
  background-color: var(--default-color);
  display: none;
  text-align: center;
}
.back-to-top:hover {
  background: var(--default-color);
  color: var(--text-color);
}
.icons {
  width: 40px;
  height: 40px;
  margin-left: auto;
}
.back-to-top i {
  font-size: 25px;
  color: var(--text-color);
}
.typed-cursor {
  font-size: 3.125rem;
  font-weight: bold;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--text-color);
}
/* ============================ Loading ============================ */
#loading {
  background-color: #333;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}
.spinner {
  margin: 250px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: var(--text-color);
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* ============================ Start NavBar ============================ */
#navbar {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
  transition: background-color 2s;
}

.navbar ul {
  padding: 0;
  list-style: outside none none;
  text-decoration: none;
}
.navbar-nav a {
  color: var(--text-color);
}
.navbar .logo a {
  color: #eee;
  font-size: 1.4rem !important;
  text-transform: capitalize !important;
}
.navbar-brand {
  z-index: 999999;
}
.navbar a,
.navbar a:focus {
  font-size: 0.8rem;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.list-right > ul {
  left: 140px;
  display: block;
  width: 85%;
  position: absolute;
  top: calc(100% + 140px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--text-color);
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navbar-toggler {
  cursor: pointer;
  border: none;
  color: var(--text-color);
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 80%;
}
.navbar ul li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: var(--text-color);
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navbar .nav-link:hover a {
  color: var(--text-color) !important;
}
.navbar .nav-link:focus,
.nav-link:hover {
  color: var(--text-color) !important;
}
.navbar li {
  position: relative;
}
/* ============================ End NavBar ============================ */
/* ============================ Start Header ============================ */
.bg-image {
  background-image: url("../img/hero-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.display-table {
  width: 100%;
  height: 100%;
  display: table;
}
.hero-content {
  text-align: center;
  position: absolute;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.title {
  font-size: 4.5rem;
}
header .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
/* ============================ End Header ============================ */

/* ====================== sec two ======================  */

.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: var(--text-color);
  margin-bottom: 3rem;
  z-index: 2;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06),
    0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.skill-mf .progress {
  background-color: var(--second-text-color);
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

/* ====================== sec three ======================  */
.service-box {
  background-color: var(--text-color);
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}
.line-mf {
  width: 40px;
  height: 5px;
  background-color: var(--default-color);
  margin: 0 auto;
}
.service-box .ico-circle {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.service-box {
  -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.service-box:hover .ico-circle {
  background-color: var(--default-color);
  -webkit-box-shadow: 0 0 0 10px var(--second-text-color);
  box-shadow: 0 0 0 10px var(--second-text-color);
  color: #eee;
}
.service-box .ico-circle i {
  line-height: 0;
  font-size: 40px;
}
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 0 0 0 10px var(--default-color);
  box-shadow: 0 0 0 10px var(--default-color);
  display: block;
}
.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}
/* ====================== sec four ======================  */
.sec-counter {
  background-image: url("../img/counters-bg.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
}
.bg-image-count {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.counter-box {
  text-align: center;
  color: var(--text-color);
}
.paralax-mf {
  position: relative;
  padding: 8rem 0;
}
.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: var(--default-color);
}
.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.5;
  -webkit-box-shadow: 0 0 0 10px var(--second-text-color);
  box-shadow: 0 0 0 10px var(--second-text-color);
}
.counter-ico {
  margin-bottom: 1rem;
}
.purecounter {
  font-size: 2rem;
  line-height: 30px;
  font-weight: 400;
}
/* ====================== sec five ======================  */
.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.title-box {
  margin-bottom: 4rem;
}
.subtitle-a {
  text-decoration: none;
  color: #4e4e4e;
}
.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--text-color);
  -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.w-ctegory {
  color: var(--default-color);
}
.w-more {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.work-content .w-like {
  font-size: 2.5rem;
  color: var(--default-color);
  float: right;
}
.w-title {
  font-size: 1.2rem;
}
.work-content {
  padding: 2rem 3% 1rem 4%;
}
.work-box:hover .work-img img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.work-img {
  overflow: hidden;
}
.w-like > a {
  color: var(--default-color);
}
/* ====================== sec six ======================  */
.testimonial-box {
  color: var(--text-color);
  text-align: center;
}
.sec-six {
  background-image: url("../img/overlay-bg.jpg");
  background-position: center center;
  background-size: cover;
}
.testimonial-box .author {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  display: block;
  font-size: 1.4rem;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  position: relative;
  top: 70px;
}
/* ====================== sec seven ======================  */
.sect-pt4 {
  padding-top: 4rem;
}
.card-blog .card-category .category {
  color: var(--text-color);
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}
.card-blog .card-category {
  display: inline-block;
  color: var(--text-color);
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: var(--default-color);
  border-radius: 4px;
}
.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}
.card-body {
  position: relative;
}
.card-title a,
.post-author a {
  color: #1e1e1e;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 1.3rem;
}
.card-title a:hover {
  color: var(--default-color);
}
.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}
.card-footer .author {
  font-size: 1rem;
}
.post-author {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.post-author a:hover {
  color: var(--default-color);
}
.card-blog .card-description {
  color: #4e4e4e;
}
/* ====================== sec eight ======================  */

.sect-mt4 {
  background-image: url("../img/overlay-bg.jpg");
  background-position: center center;
  background-size: cover;
  height: auto;
}
.footer-paralax {
  padding: 8rem 0 0 0;
  -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.email-form input {
  padding: 10px 15px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}
.email-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
  resize: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}
.title-box-2 h5 {
  position: relative;
  font-size: 2rem;
}
.title-box-2 {
  margin-bottom: 3rem;
}
.title-box-2 h5:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--default-color);
  width: 100px;
  bottom: -12px;
}
.socials {
  padding: 1.5rem 0;
}
.list-ico {
  line-height: 2;
}
.list-ico span {
  color: var(--default-color);
  margin-right: 10px;
}
.socials .ico-circle:hover {
  background-color: var(--default-color);
  color: var(--text-color);
  -webkit-box-shadow: 0 0 0 3px var(--second-text-color);
  box-shadow: 0 0 0 3px var(--second-text-color);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  line-height: 1.6;
  margin: 0 15px 0 0;
  -webkit-box-shadow: 0 0 0 3px var(--default-color);
  box-shadow: 0 0 0 3px var(--default-color);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #1e1e1e;
}
.email-form button[type="submit"] {
  background: var(--default-color);
  border: 0;
  padding: 10px 24px;
  color: var(--text-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.button-rouded {
  border-radius: 5rem;
}
.email-form button[type="submit"]:hover {
  background: #3393ff;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0 4px var(--second-text-color);
  box-shadow: 0 0 0 4px var(--second-text-color);
}
.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}
.mar-2rem {
  margin: 2rem 0;
}
/* ====================== Footer ======================  */
footer {
  text-align: center;
  color: var(--text-color);
  padding: 20px 0;
  background: #0062d3;
}
footer .copyright-box a {
  color: var(--text-color);
}
footer .copyright-box p {
  margin-bottom: 0;
}
